{% block contacts %}
<section id="form1" class="contact">
  <div class="container">

    <div class="section-title">
      <h2>Формирование синтаксиса для оцифровки</h2>
      <p>Сформируйте синтаксис для оцифровки</p>
    </div>

    <div class="container transparent-container"> <!-- Прозрачный контейнер -->
      <form action="/ai_integration/" method="post" enctype="multipart/form-data">

        <div class="row mb-3"> <!-- Добавлен отступ -->
          <div class="col-md-6 form-group">
            <label for="text1" class="form-label" style="font-size: 14px;">Введите Категорию или Бренд:</label>
            <input type="text" class="form-control custom-input" id="text1" name="text1">
          </div>
          
          <div class="col-md-6 form-group">
            <label for="file" class="form-label" style="font-size: 14px;">Выберите файл (необязательно):</label>
            <div class="custom-file-upload">
              <button type="button" class="custom-file-button">Выберите файл</button>
              <input type="file" class="custom-input" id="file" name="file">
            </div>
          </div>
        </div>

        <div class="row mb-3"> <!-- Добавлен отступ -->
          <div class="col-md-12 form-group">
            <label for="text2" class="form-label" style="font-size: 14px;">Введите дополнительный контекст:</label>
            <textarea class="form-control custom-input" id="text2" name="text2" rows="3"></textarea>
          </div>
        </div>
        <div class="row mb-6"> <!-- Добавлен отступ -->
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary">Запустить анализ</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<style>
  .btn-primary {
    background-color: #8d6b46; /* Цвет кнопки */
    color: whitesmoke; /* Цвет текста на кнопке */
    border-color: #8d6b46; /* Цвет рамки кнопки */
    transition: background-color 0.3s, border-color 0.3s, opacity 0.3s; /* Плавные переходы */
  }
  .btn-primary:hover {
    background-color: transparent; /* Кнопка становится прозрачной при наведении */
    color: #8d6b46; /* Цвет текста при наведении */
    border-color: #8d6b46; /* Цвет рамки кнопки при наведении */
  }
  .btn-primary:focus, .btn-primary:active {
    background-color: #8d6b46; /* Цвет кнопки при фокусе и активном состоянии */
    color: whitesmoke; /* Цвет текста на кнопке при фокусе и активном состоянии */
    border-color: #8d6b46; /* Цвет рамки кнопки при фокусе и активном состоянии */
    box-shadow: none; /* Убираем стандартное выделение Bootstrap */
  }
  .transparent-container {
    background-color: rgba(55, 55, 55, 0.331) !important; /* Прозрачный фон контейнера с !important */
    padding: 15px; /* Дополнительное пространство внутри контейнера */
    border-radius: 5px; /* Скругленные углы для более красивого вида */
  }
  .custom-input {
    background: rgba(185, 183, 183, 0.213); /* Цвет фона для текстбоксов и инпутов */
    color: #fff; /* Белый текст для контраста */
    border: 0px solid rgba(185, 183, 183, 0.213); /* Граница для контраста */
    padding: 10px; /* Поля внутри инпутов */
    transition: background 0.3s, color 0.3s; /* Плавные переходы */
  }
  .custom-input::placeholder {
    color: #bbb; /* Цвет плейсхолдера */
  }
  .custom-input:focus, .custom-input:active {
    background: rgba(185, 183, 183, 0.213) !important; /* Цвет фона сохраняется */
    color: #fff !important; /* Цвет текста сохраняется */
    border: 0px solid rgba(185, 183, 183, 0.213); /* Граница сохраняется */
    outline: none; /* Убираем стандартное выделение */
  }
  .custom-input:hover {
    background: rgba(185, 183, 183, 0.213) !important; /* Цвет фона сохраняется */
    color: #fff !important; /* Цвет текста сохраняется */
    border: 0px solid rgba(185, 183, 183, 0.213); /* Граница сохраняется */
  }

  .custom-file-upload {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  .custom-file-upload input[type=file] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .custom-file-button {
    width: 100%;
    background-color: rgba(185, 183, 183, 0.213); /* Цвет кнопки */
    color: #8d6b46; /* Цвет текста на кнопке */
    border: none; /* Убираем границу */
    padding: 10px 20px; /* Поля кнопки */
    cursor: pointer; /* Курсор pointer при наведении */
    border-radius: 5px; /* Скругленные углы */
    display: inline-block; /* Сохраняет ширину */
    text-align: center; /* Центрируем текст */
  }
  .custom-file-button:hover {
    background-color: transparent; /* Кнопка становится прозрачной при наведении */
    color: rgba(74, 74, 74, 0.192); /* Цвет текста при наведении */
    border: 1px solid rgba(74, 74, 74, 0.192); /* Граница при наведении */
  }
</style>

<script>
  $('input[name="type"]').on('click', function(e) {
    $('.js-queryform').attr('action', '/' + $(this).attr('value') + '/');
  });
  
  // JavaScript чтобы мониторить кнопку "Choose file" и показать выбранное имя файла
  document.querySelectorAll('.custom-file-upload input[type=file]').forEach(function(input) {
    input.addEventListener('change', function() {
      var label = this.previousElementSibling; // Изменено на previousElementSibling
      var fileName = this.files.length > 0 ? this.files[0].name : "Выберите файл";
      label.textContent = fileName;
    });
  });
</script>
{% endblock %}