{% block contacts %}
  <section id="form4" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Синтаксис</h2>
        <p>Сформируйте синтаксис из 75 слов и словосочетаний</p>
      </div>

      <form action="/static/processing/ai_integration" method="post" enctype="multipart/form-data" role="form" class="eform mt-4" onsubmit="showLoadingScreen()">

        <div class="row mb-3"> <!-- Добавлен отступ -->
          <div class="col-md-6 form-group">
            <label for="text1" class="form-label" style="font-size: 14px;">Введите Категорию или Бренд:</label>
            <input type="text" class="form-control custom-input" id="text1" name="text1" required>
          </div>
          
          <div class="col-md-6 form-group">
            <label for="file" class="form-label">Выберите файл (необязательно):</label>
            <div class="custom-file-upload">
              <button type="button" class="custom-file-button">Выберите файл</button>
              <input type="file" class="custom-input" id="file" name="file">
            </div>
          </div>
        </div>

        <div class="row mb-3"> <!-- Добавлен отступ -->
          <div class="col-md-12 form-group">
            <label for="text2" class="form-label" style="font-size: 14px;">Введите дополнительный контекст:</label>
            <textarea class="form-control custom-input" id="text2" name="text2" rows="3" required></textarea>
          </div>
        </div>
        <div class="row mb-6"> <!-- Добавлен отступ -->
          <div class="col-md-12 text-center">

            <button type="submit" class="btn btn-primary">Запустить анализ</button>
            <br><br> 
            <button type="button" id="show-instructions-2" class="btn-primary" style="
    background: none;
    border:  0;
    text-decoration: underline;
">Инструкция</button>
          </div>
        </div>
      </form>

      <div class="loading-overlay" id="loadingOverlay">
        Подождите, идет анализ...
      </div>

      <script>
        // JavaScript чтобы мониторить кнопку "Выберите файл" и показать выбранное имя файла
        document.querySelectorAll('.custom-file-upload input[type=file]').forEach(function(input) {
          input.addEventListener('change', function() {
            var label = this.previousElementSibling; // Изменено на previousElementSibling
            var fileName = this.files.length > 0 ? this.files[0].name : "Выберите файл";
            label.textContent = fileName;
          });
        });
      </script>  
      
    </div>
  </div>
  </section>

  <div id="instructionModal-2" class="modal">
    <div class="modal-content mb-4">
      <span class="close">&times;</span>
      <h2>Инструкция по использованию:</h2>
      <p>Данный инструмент позволяет создавать облако слов. Вам необходимо ввести название бренда или категории для анализа. Далее нужно ввести контекст для анализа, например: "Барьеры, возникающие на пути у потребителя при покупке Бренда X" После этого, у вас есть возможность приложить файл, на который ChatGPT будет опираться при формировании облака слов. Поддерживаемые форматы файлов: .csv, .xlsx, .xls, .docs, .doc. Если запустить анализ без файла, то ChatGPT будет опираться только на свою базу знаний. Ограничения: размер прикладываемого файла не более 5 МБ.</p>
    </div>
  </div>

  <style>
    .modal {
      display: none;
      position: fixed;
      z-index: 1000;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 02, 0, 0.4);
    }

    .modal-content {
      background-color: rgba(0, 0, 0, 0.4);
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
    }

    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }

    /* Styles for the primary button */
    .btn-primary {
      background-color: #8d6b46;
      color: whitesmoke;
      border-color: #8d6b46;
      border-radius: 4px;
      transition: background-color 0.3s, border-color 0.3s, opacity 0.3s;
    }

    .btn-primary:hover {
      background-color: transparent;
      color: whitesmoke;
      border-color: #8d6b46;
      border-radius: 4px;
      transition: background-color 0.3s, border-color 0.3s, opacity 0.3s;
    }

    .btn-primary:focus, 
    .btn-primary:active {
      background-color: #8d6b46;
      color: whitesmoke;
      border-color: #8d6b46;
      box-shadow: none;
    }
  </style>

  <script>
    var modal2 = document.getElementById("instructionModal-2");
    var btn2 = document.getElementById("show-instructions-2");
    var span2 = modal2.getElementsByClassName("close")[0];

    btn2.onclick = function() {
      modal2.style.display = "block";
    }

    span2.onclick = function() {
      modal2.style.display = "none";
    }


    function showLoadingScreen() {
      document.getElementById('loadingOverlay').style.display = 'block';
                                 }

    function hideLoadingScreen() {
      document.getElementById('loadingOverlay').style.display = 'none';
                                 }
  </script>
{% endblock %}