{% block header %}
  <!-- Хедер -->
  <header id="header">
    <div class="container container__title">
      <h1><a href="{{ site_url }}">{{ name }}</a></h1>
      <h2>{{ tag1 }} <span>{{ tag2 }}</span></h2>

      <nav id="navbar" class="navbar">
        <ul class="navbar__buttons">
          <li>
            <a class="nav-link" href="#form4">{{ form4 }}</a>
          </li>
          <li>
            <a class="nav-link" href="#form3">{{ form3 }}</a>  
          </li>   
          <li>
            <a class="nav-link" href="https://github.com/MrBengalord/SyntHeplper" target="_blank">Помощь</a>
          </li>   
          <li style="display: none !important;"><a class="nav-link nav-link-portfolio" id="nav-link-form3" href="#result1">{{ result }}</a></li>
          <li style="display: none !important;"><a class="nav-link nav-link-portfolio" id="nav-link-form4" href="#result">{{ result }}</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i> 
      </nav><!-- Навигация -->
      </div>
  </header><!-- Конец хедера -->    
{% endblock %}

